.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
db.sqlite3
db.sqlite3-journal
babyshop_app/db.sqlite3
babyshop_app/db.sqlite3-journal
media
babyshop_app/media
staticfiles
babyshop_app/staticfiles
.pytest_cache
.mypy_cache
.coverage
htmlcov
