DJANGO_SECRET_KEY=replace-this-with-a-generated-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
SQLITE_PATH=babyshop_app/db.sqlite3
MEDIA_ROOT=babyshop_app/media
